<footer>
    <div>
      <h5>Quick links</h5>
      <a href="#">
        <p>Bags</p>
      </a>
      <a href="#">
        <p>Search</p>
      </a>
      <a href="#">
        <p>Lookbook</p>
      </a>
    </div>
    <div>
      <h5>Info</h5>
      <a href="#">
        <p>About</p>
      </a>
      <a href="#">
        <p>Contact us</p>
      </a>
      <a href="#">
        <p>Shipping policy</p>
      </a>
      <a href="#">
        <p>Blog</p>
      </a>
    </div>
    <div>
      <h5>Our mission</h5>
      <p>
        Quality materials, good designs, craftsmanship and sustainability.
      </p>
    
    </div>
  </footer>
